.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.csv
*.pdf
*_cache/*
*_cache/**
*temp/*
temp/**
blogdown/**
stylo_config.txt
table_with_frequencies.txt
uk-cities.Rda
uk-cities2.Rda
wordlist.txt
deploy
